@import url("https://fonts.googleapis.com/css2?family=Moderustic&family=SUSE:wght@600&display=swap");
:root {
  --clr-white: #fff;
  --clr-black: #111;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: block; /* Change from flex to block */
  min-height: 100vh;
  background: var(--clr-white);
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}
ul li {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--clr-white);
  position: relative;
  transform: translatey(0);
  transition: 0.2s ease-in-out;
}
ul li:hover {
  transform: translatey(-0.625rem);
  cursor: pointer;
}
ul li::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.2);
}
ul li span {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 0.6rem;
  color: var(--clr-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
ul li + li {
  margin-left: -0.625rem;
}
ul img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

a {
  display: inline-block;
  text-decoration: none;
}

.projects {
  padding-block: min(20vh, 2rem);
  width: calc(min(70rem, 90%));
  margin-inline: auto;
  color: var(--clr-black);
  position: relative;
  display: flex;
  flex-direction: column; /* Force vertical layout */
}
@media screen and (min-width: 40rem) {
  .projects .heading {
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }
}
.projects .heading h1 {
  letter-spacing: 0.025em;
  font-size: clamp(2.5rem, 1.6351rem + 4.3243vw, 6.5rem);
  line-height: 1;
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.projects .heading aside {
  margin-top: 1.5em;
  max-width: 16.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
@media screen and (min-width: 40rem) {
  .projects .heading aside {
    margin-top: 3em;
  }
}
.projects .heading aside p {
  font-size: 0.9rem;
  color: var(--clr-black);
  line-height: 1.5;
}
.projects .container {
  margin-top: 2em;
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 40rem) {
  .projects .container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3.5em;
    gap: 2rem;
  }
}
.projects .card {
  padding-block: 1rem;
  background: var(--clr-white);
  border-radius: 1.2rem;
  border-color: black;
  border: 2px;
  position: relative;
  height: 24rem;
}
@media screen and (min-width: 53rem) {
  .projects .card {
    border-radius: 1.8rem;
  }
}
.projects .card p {
  position: absolute;
  right: 0;
  top: -1.25rem;
}
.projects .card p a {
  font-size: 0.9rem;
  display: inline-block;
  color: var(--clr-black);
}
.projects .card p a:hover {
  font-weight: 600;
}
.projects .card .card-inner {
  position: relative;
  width: inherit;
  height: inherit;
  border-bottom-right-radius: 0;
}
.projects .card .card-inner .box {
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  border-radius: 1.2rem;
  overflow: hidden;
}
.projects .card .card-inner .box .videoBox {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.projects .card .card-inner .box .videoBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.projects .card .card-inner .box .imgBox {
  position: absolute;
  inset: 0;
}
.projects .card .card-inner .box .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
@media screen and (min-width: 53rem) {
  .projects .card .card-inner .box .imgBox img {
    border-radius: 1.6rem;
  }
}
.projects .card .card-inner .box .more {
  position: absolute;
  top: -0.375rem;
  right: 0;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-white);
  padding: 0.625rem 0 0.625rem 0.625rem;
  border-bottom-left-radius: 1rem;
}
.projects .card .card-inner .box .more::before {
  position: absolute;
  content: "";
  top: 0.375rem;
  left: -1.188rem;
  background: transparent;
  width: 1.2rem;
  height: 1.2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: 0.313rem 0.313rem 0px 0.313rem var(--clr-white);
  transform: rotate(-90deg);
}
.projects .card .card-inner .box .more::after {
  position: absolute;
  content: "";
  bottom: -1.188rem;
  right: -0.063rem;
  background: transparent;
  width: 1.2rem;
  height: 1.2rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0.313rem 0.313rem 0px 0.313rem var(--clr-white);
  transform: rotate(-90deg);
}
.projects .card .card-inner .box .more .arrow {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.125rem solid #c8c8c8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
}
.projects .card .card-inner .box .more .arrow:hover {
  background: var(--clr-black);
  border: 0.125rem solid var(--clr-black);
  color: var(--clr-white);
}
.projects .card .card-inner .box .more .arrow:hover svg {
  color: var(--clr-white);
}
.projects .card .card-inner .box .more svg {
  width: 1.063rem;
  color: var(--clr-black);
}
.projects .card .card-inner .box .tag {
  position: absolute;
  bottom: -0.375rem;
  left: 0;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-white);
  padding: 0.625rem 0.625rem 0.625rem 0;
  border-top-right-radius: 1rem;
}
.projects .card .card-inner .box .tag::before {
  position: absolute;
  content: "";
  top: -1.188rem;
  left: 0;
  background: transparent;
  width: 1.2rem;
  height: 1.2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: 0.313rem 0.313rem 0px 0.313rem var(--clr-white);
  transform: rotate(90deg);
}
.projects .card .card-inner .box .tag::after {
  position: absolute;
  content: "";
  bottom: 0.375rem;
  right: -1.188rem;
  background: transparent;
  width: 1.2rem;
  height: 1.2rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0.313rem 0.313rem 0px 0.313rem var(--clr-white);
  transform: rotate(90deg);
}
.projects .card .card-inner .box .tag a {
  font-size: 0.8rem;
  color: var(--clr-black);
  font-weight: 400;
  border: 0.125rem solid #c8c8c8;
  border-radius: 3.125rem;
  padding: 0.313rem 0.625rem;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.projects .card .card-inner .box .tag a:hover {
  color: var(--clr-white);
  background: var(--clr-black);
  border: 0.125rem solid var(--clr-black);
}
.projects .video {
  height: 20rem;
  align-self: flex-end;
}

.poster {
  position: relative;
  display: inline-flex;
}

.poster:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("https://images.unsplash.com/photo-1534361960057-19889db9621e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  transition: 1s ease;
  opacity: 0.8;
  cursor: pointer;
}

.poster-active:after {
  opacity: 0;
  pointer-events: none;
}


.cloneable {

  margin: 4rem auto 0; /* Center horizontally and add top margin */
  position: relative;
  font-size: 1.1vw;
}

.tab-container {
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 2.5em;
  display: flex;
}

.tab-layout-container {
  width: 100%;
  max-width: 36em;
  height: 100%;
  margin-left: auto;
  margin-right: 0;
  padding-top: 1em;
  padding-bottom: 2em;
}

.tab-container-bottom {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.tab-container-top {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.tab-layout-col {
  width: 100%; /* Full width on mobile */
}

@media screen and (min-width: 768px) {
  .tab-layout-col {
    width: calc(50% - 1rem); /* Half width minus gap on desktop */
  }
}

.tab-content-wrap {
  width: 100%;
  min-width: 24em;
  position: relative;
}

.content-button__bg {
  z-index: -1;
  background-color: #efeeec;
  border-radius: .25em;
  position: absolute;
  inset: 0%;
}

.content-p {
  margin: 0;
  font-size: 1.25em;
  line-height: 1.4;
}

.tab-button__bg {
  z-index: 0;
  background-color: #efeeec0f;
  border: 1px solid #efeeec14;
  border-radius: .25em;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.tab-content-item {
  z-index: 1;
  grid-column-gap: 1.25em;
  grid-row-gap: 1.25em;
  visibility: hidden;
  flex-flow: column;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.tab-content-item.active {
  visibility: visible;
}

.tab-layout {
  width: 100%;
  display: flex;
  flex-direction: row; /* Make sure tabs layout horizontally */
  min-height: 37em;
  position: relative;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  gap: 2rem; /* Add gap between columns */
}

.filter-bar {
  background-color: #efeeec0f;
  border: 1px solid #efeeec14;
  border-radius: .5em;
  padding: .5em;
  display: flex;
}

.filter-button {
  background-color: #0000;
  border: 1px solid #efeeec00;
  padding: 1.125em 1.5em;
  transition: border-color .2s;
  position: relative;
}

.filter-button.active {
  border-color: #efeeec4d;
  border-radius: .25em;
}

.filter-button__p {
  z-index: 1;
  font-size: 1.125em;
  position: relative;
  color:var(--color-light);
}

.tab-visual-wrap {
  border-radius: .5em;
  width: 100%;
  height: 42em;
  max-height: 80vh;
  position: relative;
  overflow: hidden;
}

.tab-visual-item {
  visibility: hidden;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}

.tab-visual-item.active {
  visibility: visible;
}

.tab-image {
  object-fit: cover;
  border-radius: .5em;
  width: 100%;
  max-width: none;
  height: 100%;
}

.tab-content__heading {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.75em;
  font-weight: 500;
  line-height: 1;
}

.tab-layout-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: 500;
  line-height: 1;
}

.tab-content__button {
  color: #131313;
  justify-content: center;
  align-items: center;
  height: 4em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-decoration: none;
  display: flex;
  position: relative;
}

/* ------- Osmo [https://osmo.supply/] ------- */
/* Utiliser un body spécifique ou un conteneur pour isoler ces styles */
body.osmo {
  background-color: var(--color-black);
  color: var(--color-light);
  font-size: var(--size-font);
  font-family: arial, sans-serif;
}

/* Renommer les sélecteurs conflictuels en préfixant par "osmo-" */
.osmo-cloneable {
  /* Propriétés précédemment définies dans la section Osmo */
  padding: var(--container-padding);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  position: relative;
  font-size: 1.1vw;
}

.osmo-tab-container {
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 2.5em;
  display: flex;
}

.osmo-tab-layout-container {
  width: 100%;
  max-width: 36em;
  height: 100%;
  margin-left: auto;
  margin-right: 0;
  padding-top: 1em;
  padding-bottom: 2em;
}

.osmo-tab-container-bottom {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.osmo-tab-container-top {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.osmo-tab-layout-col {
  width: 50%;
}

.osmo-tab-content-wrap {
  width: 100%;
  min-width: 24em;
  position: relative;
}

.osmo-content-button__bg {
  z-index: -1;
  background-color: #efeeec;
  border-radius: .25em;
  position: absolute;
  inset: 0%;
}

.osmo-content-p {
  margin: 0;
  font-size: 1.25em;
  line-height: 1.4;
}

.osmo-tab-button__bg {
  z-index: 0;
  background-color: #efeeec0f;
  border: 1px solid #efeeec14;
  border-radius: .25em;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.osmo-tab-content-item {
  z-index: 1;
  grid-column-gap: 1.25em;
  grid-row-gap: 1.25em;
  visibility: hidden;
  flex-flow: column;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.osmo-tab-content-item.active {
  visibility: visible;
}

.osmo-tab-layout {
  z-index: 1;
  grid-row-gap: 3em;
  flex-flow: wrap;
  width: 100%;
  min-height: 37em;
  display: flex;
  position: relative;
}

.osmo-filter-bar {
  background-color: #efeeec0f;
  border: 1px solid #efeeec14;
  border-radius: .5em;
  padding: .5em;
  display: flex;
}

.osmo-filter-button {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1.125em 1.5em;
  transition: border-color .2s;
  position: relative;
}

.osmo-filter-button.active {
  border-color: #efeeec4d;
  border-radius: .25em;
}

.osmo-filter-button__p {
  z-index: 1;
  font-size: 1.125em;
  position: relative;
  color: var(--color-light);
}

.osmo-tab-visual-wrap {
  border-radius: .5em;
  width: 100%;
  height: 42em;
  max-height: 80vh;
  position: relative;
  overflow: hidden;
}

.osmo-tab-visual-item {
  visibility: hidden;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}

.osmo-tab-visual-item.active {
  visibility: visible;
}

.osmo-tab-image {
  object-fit: cover;
  border-radius: .5em;
  width: 100%;
  max-width: none;
  height: 100%;
}

.osmo-tab-content__heading {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.75em;
  font-weight: 500;
  line-height: 1;
}

.osmo-tab-layout-heading {
  
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: 500;
  line-height: 1;
}

.osmo-tab-content__button {
  color: #131313;
  justify-content: center;
  align-items: center;
  height: 4em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-decoration: none;
  display: flex;
  position: relative;
}

/* Ajout d'un conteneur pour la partie Osmo */
.osmo-layout {
  display: flex;
  flex-direction: row; /* Par défaut : horizontal */
  gap: 1rem;
}

.osmo-tab-layout {
  order: 1;
  flex: 1;
}

.osmo-tab-visual-wrap {
  order: 2;
  flex: 1;
}

@media screen and (max-width: 767px) {
  .osmo-layout {
    flex-direction: column !important;
  }
  .osmo-tab-visual-wrap {
    order: 1 !important;
    margin-bottom: 1rem;
  }
  .osmo-tab-layout {
    order: 2 !important;
  }
}